@function px($n) {
  @return $n / 2420 * 100rem;
}

.border {
  border: px(10) dotted;
  border-radius: px(20);
}

.title-border {
  border: px(10) solid ;
  border-top-width: 0;
  border-radius: px(10);
}
