@import "../shared/_helper.scss";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.home {
  display: flex;
  flex: 1;
  flex-direction: column;
  header {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    height: px(99);
    margin: 0 auto 5px;
  }

  main {
    flex: 1;
    display: grid;
    grid-column-gap: px(15);
    grid-row-gap: px(15);
    grid-template:
      "video map map"
      "profile map map"
      "intro slides notes";
    .section1{
      grid-area: video;
      background: cornflowerblue;
    }
    .section2{
      grid-area: map;
      background: rgb(231, 140, 168);
    }
    .section3{
      grid-area: profile;
      background: papayawhip;
    }
    .section4{
      grid-area: intro;
      background: white;
    }
    .section5{
      grid-area: slides;
      background: pink;
    }
    .section6{
      grid-area: notes;
      background: lightblue;
    }
  }
}