@import "../shared/_helper.scss";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.statistics {
  display: flex;
  flex: 1;
  flex-direction: column;

  main {
    flex: 1;
    display: grid;
    grid-column-gap: px(15);
    grid-row-gap: px(15);
    grid-template:
      "box1 box2 box4 box5" 755fr
      "box3 box3 box4 box5" 363fr / 366fr 361fr 811fr 747fr;

    section{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .section1 {
      grid-area: box1;
    }

    .section2 {
      grid-area: box2;
    }

    .section3 {
      grid-area: box3;
    }

    .section4 {
      grid-area: box4;
      background: white;
    }

    .section5 {
      grid-area: box5;
      background: pink;
    }

    .chart-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        flex-shrink: 0;
        font-size: px(16);
        color: black;
        padding: px(10) px(28);
      }
    }

    .chart {
      flex: 1;
      width: 100%;
    }

    [class^="category"] {
      border-color: #db90a7;
      background: lightskyblue;
      h2{
        border-color: #db90a7;
      }
    }

    .category-views {
      height: px(315);
    }

    .category-comments {
      height: px(415);

    }

    [class^="trends"] {
      border-color: deepskyblue;
      background: pink;
      h2{
        border-color: deepskyblue;
      }
    }

    .trends-likes{
      height: px(415);
    }

    .trends-time{
      height: px(315);
    }

    .views{
      height: px(363);
      background: papayawhip;
    }
  }
}